<form action="Dosens/update/<%= Dosens.nidn %>" method="post">
    <div class="mb-3">
        <label class="form-label pt-0" for="nidn">NIDN</label>
        <input class="form-control" id="nidn" name="nidn" type="text" value="<%= Dosens.nidn %>" required />
    </div>
    <div class="mb-3">
        <label class="form-label pt-0" for="nama_dosen">Nama Dosen</label>
        <input class="form-control" id="nama_dosen" name="nama_dosen" type="text" value="<%= Dosens.nama_dosen %>" required />
    </div>
    <div class="mb-3">
        <label class="form-label pt-0" for="jenis_kelamin">Jenis Kelamin</label><br>
        <% 
            if(Dosens.jenis_kelamin == "L"){ %>
        <input class="" id="jenis_kelamin" type="radio" name="jenis_kelamin" value="L" checked> Laki-laki<br>
        <input class="" id="jenis_kelamin" type="radio" name="jenis_kelamin" value="P" > Perempuan<br>
        <% 
            } else { %>
        <input class="" id="jenis_kelamin" type="radio" name="jenis_kelamin" value="L" > Laki-laki<br>
        <input class="" id="jenis_kelamin" type="radio" name="jenis_kelamin" value="P" checked> Perempuan<br>
        <% 
            } %>
    </div>
    <div class="d-flex flex-row-reverse">
        <button class="btn btn-primary" type="submit">Save</button>
    </div>
</form>
