<form action="matkuls/store" method="post">
    <div class="mb-3">
        <label class="form-label pt-0" for="kode_matkul">Kode Matkul</label>
        <input class="form-control" id="kode_matkul" name="kode_matkul" type="text" required />
    </div>
    <div class="mb-3">
        <label class="form-label pt-0" for="nama_matkul">Nama Matkul</label>
        <input class="form-control" id="nama_matkul" name="nama_matkul" type="text" required />
    </div>
    <div class="mb-3">
        <label class="form-label pt-0" for="nidn">NIDN</label>
        <select class="form-select" aria-label="Default select example" id="nidn" name="nidn">
            <%
                Dosens.forEach(Dosens => { %>
                <option value="<%= Dosens.nidn %>"><%= Dosens.nama_dosen %></option>
            <% }); %>
          </select>
    </div>
    <div class="mb-3">
        <label class="form-label pt-0" for="nim">NIM</label>
        <select class="form-select" aria-label="Default select example" id="nim" name="nim">
            <%
                mhss.forEach(mhss => { %>
                <option value="<%= mhss.nim %>"><%= mhss.nama %></option>
            <% }); %>
          </select>
    </div>
    <div class="d-flex flex-row-reverse">
        <button class="btn btn-primary" type="submit">Save</button>
    </div>
</form>
