<form action="mhs/update/<%= mhs.nim %>" method="post">
    <div class="mb-3">
        <label class="form-label pt-0" for="nim">NIM</label>
        <input class="form-control" id="nim1" name="nim1" type="text" value="<%= mhs.nim %>" required />
    </div>
    <div class="mb-3">
        <label class="form-label pt-0" for="nama">Nama</label>
        <input class="form-control" id="nama" name="nama" type="text" value="<%= mhs.nama %>" required />
    </div>
    <div class="mb-3">
        <label class="form-label pt-0" for="kelas">Kelas</label>
        <input class="form-control" id="kelas" name="kelas" type="text" value="<%= mhs.kelas %>" required />
    </div>
    <div class="mb-3">
        <label class="form-label pt-0" for="jenis_kelamin">Jenis Kelamin</label><br>
        <% 
            if(mhs.jenis_kelamin == "L"){ %>
        <input class="" id="jenis_kelamin" type="radio" name="jenis_kelamin" value="L" checked> Laki-laki<br>
        <input class="" id="jenis_kelamin" type="radio" name="jenis_kelamin" value="P" > Perempuan<br>
        <% 
            } else { %>
        <input class="" id="jenis_kelamin" type="radio" name="jenis_kelamin" value="L" > Laki-laki<br>
        <input class="" id="jenis_kelamin" type="radio" name="jenis_kelamin" value="P" checked> Perempuan<br>
        <% 
            } %>
    </div>
    <div class="d-flex flex-row-reverse">
        <button class="btn btn-primary" type="submit">Save</button>
    </div>
</form>
